<h2> Estadísticas</h2>

<p><strong>Nº Preguntas: <%=statistics.n_preguntas%> </strong></p>
<p><strong>Nº Comentarios: <%=statistics.n_comentarios%> </strong></p>
<p><strong>Media comentarios/preguntas: <%=statistics.media_comentariospregunta%> </strong></p>
<p><strong>Preguntas sin comentarios: <%=statistics.preguntas_sincomentarios%> </strong></p>
<p><strong>Preguntas con comentarios: <%=statistics.preguntas_concomentarios%> </strong></p>
